# The homepage is hosted externally and redirects to this URL when accessed
# This environment variable stores the external homepage URL
HOMEPAGE_REMOTE_URL=https://example.com/

# URL to the switchboard graphql endpoint
NEXT_PUBLIC_SWITCHBOARD_URL=https://switchboard.example.com/graphql

# ETH mainet RPC to get on-chain data
NEXT_PUBLIC_ETH_MAINNET_RPC="https://ethereum-rpc.publicnode.com"

# Show a whitelist form over the content while it is in development
NEXT_PUBLIC_SHOW_WHITELIST_OVERLAY=true
