# The homepage is hosted externally and redirects to this URL when accessed
# This environment variable stores the external homepage URL
HOMEPAGE_REMOTE_URL=https://example.com/

# URL to the switchboard graphql endpoint
NEXT_PUBLIC_SWITCHBOARD_URL=https://switchboard.example.com/graphql

# ETH mainet RPC to get on-chain data
NEXT_PUBLIC_ETH_MAINNET_RPC="https://ethereum-rpc.publicnode.com"

# Show a whitelist form over the content while it is in development
NEXT_PUBLIC_SHOW_WHITELIST_OVERLAY=true

# Leave page guard on service purchase (default: enabled; set to false to disable)
# NEXT_PUBLIC_LEAVE_PAGE_GUARD_ENABLED=true

# Service purchase store persistence to localStorage (default: enabled; set to false to disable)
# NEXT_PUBLIC_ENABLE_SERVICE_PURCHASE_STORE_PERSISTENCE=true

# Mailchimp configuration for the whitelist (only required if the whitelist overlay is enabled)
MAILCHIMP_API_KEY = 'example-api-key-us18'
MAILCHIMP_AUDIENCE_ID = 'xxx'
MAILCHIMP_SERVER_LOCATION = 'us18'
MAILCHIMP_TAG = 'achra-waitlist'